.l-container {
	// background-color: $color-bg-main-column;

	&__inner {
		height: 100%;
		@include mq-up(md) {// 768px以上（iPad - Portrait）

		}
		@include mq-up(xl) {// 1200px以上（PC - 大）
			@include mx-auto();
			width: $width-2column-whole-xl;
			background-color: rgba(255, 255, 255, .5);
		}
		@include mq-up(xxl) {// 1400px以上（PC - 大大）
			//
		}
	}

}
